<div class="container-fluid">
  <h3>History</h3>
  <div class="container">
    <div class="form">
      <div class="row">
        <div class="col-md-2">
          <div class="input-group ">
            <label for="counterParty">COUNTERPARTY</label>

            <select class="custom-select" id="counterParty">
              <option selected>COUNTERPARTY</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group ">
            <label for="pairs">PAIRS</label>
            <select class="custom-select" id="pairs">
              <option selected>PAIRS</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group ">
            <label for="agent">AGENT</label>
            <select class="custom-select" id="agent">
              <option selected>AGENT</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group ">
            <label for="from">FROM</label>
            <input type="date" class="form-control" aria-label="Small" id="from"
                   aria-describedby="inputGroup-sizing-sm" data-provide="datepicker">

          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group ">
            <label for="to">TO</label>
            <input type="date" class="form-control" aria-label="Small" id="to"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="col-md-1">
          <div class="input-icon ">
            <i class="fa fa-search fa-2x"></i>
          </div>

        </div>
        <div class="col-md-1">
          <div class="input-icon ">
            <i class="fa fa-download fa-2x"></i>
          </div>
        </div>

      </div>

    </div>
    <div class="history-container">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">COUNTERPARTY</th>
          <th scope="col">PAIR</th>
          <th scope="col">AGENT</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">OPEN DATE/TIME</th>
          <th scope="col">OPEN PRICE</th>
          <th scope="col">CLOSE DATE/TIME</th>
          <th scope="col">CLOSE PRICE</th>
          <th scope="col">P/L</th>
          <th scope="col">ORDER ID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        <tr>
          <td>CEX</td>
          <td>BTC/USD</td>
          <td>C-4</td>
          <td>6000</td>
          <td>201021552</td>
          <td>6150</td>
          <td>65561531</td>
          <td>6450</td>
          <td>50</td>
          <td>ORDER ID</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
