
.container-fluid {
  margin-top: 30px;

  .history-container {
    margin-top: 50px;

  }

  .input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
    flex: none;
    width: 100%;
    font-size: 13px;

  }

  label {
    font-size: 15px;
    padding-left: 2px;
  }

  .table thead th {

    font-size: 12px;
  }

  .input-icon {
    padding-top: 25px;
  }

}

h3 {
  color: #007bff;
}

.table td, .table th {
  font-size: 11px;

}
