<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><h2>Bitfinex</h2></div>
    <div class="list-group list-group-flush navigation">
      <a href="/dashboard" class="list-group-item list-group-item-action bg-dark"><h5>Balance</h5></a>
      <a href="/dashboard/settings" class="list-group-item list-group-item-action bg-dark"><h5>Settings</h5></a>
      <a href="/dashboard/history" class="list-group-item list-group-item-action bg-dark"><h5>History</h5></a>

    </div>
  </div>
  <!-- Content-->
  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
