
.container-fluid {
  margin-top: 30px;

  .balance-container {
    margin-top: 50px;

  }

  .input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
    position: relative;
    flex: none;
    width: 20%;
    min-width: 0;
    margin-bottom: 0;
  }
}

h3{
  color: #007bff;
}
.table td, .table th {
  font-size: 11px;

}
