<div class="container-fluid">
  <h3>Balance</h3>
  <div class="container">
    <div>
      <div class="input-group ">
        <select class="custom-select">
          <option selected>Balance...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="balance-container">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Balance IN</th>
          <th scope="col">Balance</th>
          <th scope="col">Margin Balance</th>
          <th scope="col">Free Margin Balance</th>
          <th scope="col">Total Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>USD</td>
          <td>120000</td>
          <td>24000.00</td>
          <td>300000</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>EUR</td>
          <td>120000</td>
          <td>24000.00</td>
          <td>300000</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>USD</td>
          <td>120000</td>
          <td>24000.00</td>
          <td>300000</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>ETH</td>
          <td>120000</td>
          <td>24000.00</td>
          <td>300000</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>ETH</td>
          <td>120000</td>
          <td>24000.00</td>
          <td>300000</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>XMR</td>
          <td>120000</td>
          <td>24000.00</td>
          <td>300000</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
