.container-fluid {
  padding: 20px;

  .header {
    text-align: center;
  }

  .content {
    margin-top: 30px;
    text-align: center;
  }

  .table-content {
    margin-top: 30px;

  }

  .current-agent-content {
    //margin-top: 30px;
    text-align: center;
    align-items: center;

    .input-content {
      margin-top: 30px;

    }

  }
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
  flex: none;
  width: 100%;
  font-size: 13px;

}

label {
  font-size: 15px;
  padding-left: 2px;
}

.table td, .table th {
  font-size: 11px;

}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b4b4b4;
  -webkit-transition: .4s;
  transition: .4s;
  //border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 26px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  //border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(32px);
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: 'OFF';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 65%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: 'ON';
  left: 25%;

}

h5 {
  color: #007bff;
}

.container-btns {
  margin-top: 30px;
  align-items: center;
  text-align: center;
}
