<div class="container-fluid">
  <div class="header">
    <div class="row">
      <div class="col-md-3"><h5>AGENTS & SETTINGS</h5></div>
      <div class="col-md-2">
        <div class="input-group ">
          <label for="counterParty">COUNTERPARTY</label>
          <select class="custom-select" id="counterParty">
            <option selected>COUNTERPARTY</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group ">
          <label for="pairs">PAIRS</label>
          <select class="custom-select" id="pairs">
            <option selected>PAIRS</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <div>HIDE</div>
        <div>
          <button class="btn btn-sm ">
            <i class="fa fa-eye-slash fa-2x"></i>
          </button>
        </div>
      </div>
      <div class="col-md-1">
        <div>SHOW</div>
        <div>
          <button class="btn btn-sm ">
            <i class="fa fa-eye fa-2x"></i>
          </button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div>
          <div class="col-md-6">
            <button class="btn btn-block btn-primary">Create New Agent</button>
          </div>
          <div class="col-md-6"></div>
        </div>

        <div class="agent-status content">
          <div class="row">
            <div class="col-md-2">
              <h6>Agent</h6>
              <button class="btn btn-sm btn-primary">
                Cex Flat
              </button>
            </div>
            <div class="col-md-2">
              <h6>Status</h6>
              <div>
                <!-- Rounded switch -->
                <label class="switch"><input type="checkbox" id="togBtn">
                  <div class="slider round"></div>
                </label>

              </div>

            </div>
            <div class="col-md-1">
              <h6>Hide</h6>
              <button class="btn btn-sm ">
                <i class="fa fa-eye-slash fa-2x"></i>
              </button>
            </div>
            <div class="col-md-1">
              <h6>Edit</h6>
              <button class="btn btn-sm ">
                <i class="fa fa-edit fa-2x"></i>
              </button>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>

          </div>
        </div>

        <div class="table-content">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">PAIR</th>
              <th scope="col">AMOUNT</th>
              <th scope="col">OPEN DATE/TIME</th>
              <th scope="col">OPEN PRICE</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">ORDER ID</th>
              <th scope="col">STATUS</th>
              <th scope="col">P/L</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>

            </tr>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>

            </tr>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>

            </tr>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>

            </tr>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>

            </tr>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>

            </tr>
            <tr>
              <td>BTC/USD</td>
              <td>10000</td>
              <td>14/254/2141</td>
              <td>6000</td>
              <td>1.4544</td>
              <td>ORDER ID</td>
              <td>TRUE</td>
              <td>-22</td>
              <td>Close Position</td>
            </tr>

            </tbody>
          </table>

        </div>


        <div class="row container-btns ">
          <div class="col-md-3">
            <div class="mb-3">
              <button class="btn  btn-primary">
                Bitfinex
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div>
              <label class="switch"><input type="checkbox">
                <div class="slider round"></div>
              </label>
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn ">
              <i class="fa fa-eye-slash fa-2x"></i>
            </button>
          </div>
          <div class="col-md-1">
            <button class="btn ">
              <i class="fa fa-edit fa-2x"></i>
            </button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"><h6>CEX</h6></div>
          <div class="col-md-1"><h6>BTC/USD</h6></div>
          <div class="col-md-2"><h6>25458854</h6></div>
        </div>
        <div class="row container-btns ">
          <div class="col-md-3">
            <div class="mb-3">
              <button class="btn btn-primary">
                Bitfinex
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div>
              <label class="switch"><input type="checkbox">
                <div class="slider round"></div>
              </label>
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn ">
              <i class="fa fa-eye-slash fa-2x"></i>
            </button>
          </div>
          <div class="col-md-1">
            <button class="btn ">
              <i class="fa fa-edit fa-2x"></i>
            </button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"><h6>CEX</h6></div>
          <div class="col-md-1"><h6>BTC/USD</h6></div>
          <div class="col-md-2"><h6>25458854</h6></div>
        </div>
        <div class="row container-btns ">
          <div class="col-md-3">
            <div class="mb-3">
              <button class="btn btn-primary">
                Bitfinex
              </button>
            </div>
          </div>
          <div class="col-md-2">
            <div>
              <label class="switch"><input type="checkbox">
                <div class="slider round"></div>
              </label>
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn ">
              <i class="fa fa-eye-slash fa-2x"></i>
            </button>
          </div>
          <div class="col-md-1">
            <button class="btn ">
              <i class="fa fa-edit fa-2x"></i>
            </button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"><h6>CEX</h6></div>
          <div class="col-md-1"><h6>BTC/USD</h6></div>
          <div class="col-md-2"><h6>25458854</h6></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="current-agent-content">
          <h5> CURRENT AGENT</h5>
          <div class="row input-content">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <select class="custom-select" id="cex">
                  <option selected>Cex</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Start Amount">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Coefficient Up">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Coefficient Down">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Closed position quantity">
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <select class="custom-select">
                  <option selected>BTC/USD</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Step for next position">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Some amount">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Some amount">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Kept position quantity">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Amount Name">
              </div>
              <div class="input-group mb-3">
                <button class="btn btn-block btn-primary">Apply</button>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
